@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('./fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('./fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('./fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu-Light';
  src: url('./fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #2f1169;
  font-family: Ubuntu-Regular, sans-serif;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #210d4e;
}

/*
-------------------------------------------------
CONTAINER
-------------------------------------------------
*/
main .container {
  position: relative !important;
  background-color: #2f1169;
  width: calc(100vw - 60px);
  height: calc(100vh - 120px);
  top: 60px;
  bottom: 30px;
  left: 30px;
  right: 60px;
  z-index: 9;
  /*  pointer-events: none;*/
  overflow: hidden;
  border-radius: 25px;
}
main .container .content {
  position: relative !important;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
  z-index: 10;
}
/*
-------------------------------------------------
PAGES
-------------------------------------------------
*/
main .container .content.about {
  flex-direction: column;
  color: white;
}
main .container .content.home {
  flex-direction: column;
}
main .container .content.home a.logo svg {
  fill: white;
  width: 100px;
  height: auto;
  transition: all 0.1s ease-in-out;
}
main .container .content.home a.logo:hover svg {
  fill: #e04de8;
  width: 80px;
}
/*
-------------------------------------------------
WEBGL
-------------------------------------------------
*/
.webgl {
  position: relative !important;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  pointer-events: none;
}
main .tips {
  margin: 15px;
  font-size: 12px;
  color: white;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
}
/*
-------------------------------------------------
FOOTER
-------------------------------------------------
*/
main .header {
  margin: 15px;
  font-size: 10px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 15px;
}
main .header a.logo svg {
  fill: white;
  width: 30px;
  height: auto;
  transition: all 0.1s ease-in-out;
}
main .header a.logo:hover svg {
  fill: #e04de8;
}
main .header .navigation {
  margin: 10px;
  font-size: 10px;
  color: white;
  display: flex;
  gap: 15px;
}
main .header .navigation a {
  font-size: 13px;
  color: white;
  display: flex;
  transition: all 0.2s ease-in;
  text-decoration: none;
}

main .header .navigation a:hover {
  color: #e04de8;
  letter-spacing: 0.8px;
  opacity: 1;
}
/*
-------------------------------------------------
FOOTER
-------------------------------------------------
*/
main .footer {
  margin: 15px;
  font-size: 12px;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: calc(100% - 30px);
  text-align: center;
}
main .footer a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  transition: all 0.2s ease-in;
  opacity: 1;
}
main .footer a:hover {
  color: #e04de8;
  letter-spacing: 0.8px;
  opacity: 1;
}
